<!--Navigation bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar-container">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='img/Logo.png') }}" width="30" height="30" class="d-inline-block align-text-top">
            Yi Jin Programming
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contact_me') }}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
